<div class="index-container">
  <p id="notice"><%= notice %></p>

  <h1>Readings</h1>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Systolic</th>
        <th>Diastolic</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @readings.each do |reading| %>
        <tr>
          <td><%= reading.name %></td>
          <td><%= reading.systolic %></td>
          <td><%= reading.diastolic %></td>
          <td><%= reading.created_at.strftime('%H:%M %A %d/%m/%y') %></td>
          <td><%= link_to 'Show', reading, class: "btn btn-outline-primary" %></td>
          <td><%= link_to 'Edit', edit_reading_path(reading), class: "btn btn-outline-primary" %></td>
          <td><%= link_to 'DELETE', reading, method: :delete, data: { confirm: 'Are you sure you want to delete this entry?' }, class: "btn btn-outline-primary btn-destroy" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Reading', new_reading_path, class: "btn btn-primary btn-lg btn-z" %>

  <%= image_tag "bp-chart.jpeg" %>
</div>
